<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{resources['title']}}</title>
    <link rel="stylesheet" href="/static/css/show_card.css">
    <link rel="stylesheet" href="/static/css/choice_box.css">
    </style>
</head>
<body>
    <div>
        <button type="button" id="back_origin">
            <img id="icon" class="icon" alt="icon" src="/static/images/back.png">
            {{resources['return']}}
        </button>
    </div>
    <!-- 文件选择浮窗 -->
    <div id="file_selection_modal" class="choice-modal-overlay">
        <div class="choice-modal">
            <h3>{{resources['choice_kdb']}}</h3>
            <div id="file_list" class="choice-file-list"></div>
            <button type="button" class="choice-rounded-button" onclick="confirmFileSelection()">{{resources['choice_sub']}}</button>
            <button type="button" class="choice-rounded-button" style="background-color: rgb(214, 12, 12);" onclick="clearAllSelectedFiles()">{{resources['choice_rm']}}</button>
            <button type="button" class="choice-rounded-button" style="background-color: gray;" onclick="closeFileSelectionModal()">{{resources['choice_can']}}</button>
        </div>
    </div>
    <div style="display: flex; align-items: center; margin-left: 30px;">
        <h1>{{resources['personal_kdb_list_show']}}</h1>
        <img src="/static/images/delete2.png" alt="一键删除" class="show-delete-img" id="delete_kdb_muil" onclick="openFileSelectionModal()">
    </div>

    <div class="container" id="card-container">
        <!-- 卡片容器（动态生成的卡片会插入这里） -->
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 30px;">
        <h1>{{resources['share_kdb_list_show']}}</h1>
    </div>

    <div class="container" id="share-card-container">
        <!-- 分享的卡片容器（动态生成的卡片会插入这里） -->
    </div>

    <!-- 自定义确认弹窗 -->
    <div id="customConfirm" class="custom-confirm" style="display: none;">
        <div class="custom-confirm-content">
            <p id="customConfirmMessage"></p>
            <div class="custom-confirm-buttons">
                <button id="confirmNo" class="cancel-btn">{{resources['no']}}</button>
                <button id="confirmYes" class="confirm-btn">{{resources['yes']}}</button>
            </div>
        </div>
    </div>

    <script>

        let notebooks = []; // 初始化笔记本数组

        // 发送 POST 请求
        fetch(`${window.location.protocol}//${window.location.host}/kdb/get_kdb`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // 指定请求体格式为 JSON
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('网络响应错误，状态码: ' + response.status);
            }
            return response.json(); // 解析 JSON 数据
        })
        .then(data => {            
            // 获取 notebooks 数据
            if (data && data.user_info) {

                const container = document.getElementById('card-container');

                // 新建笔记本的卡片
                const newNotebookCard = document.createElement('div');
                newNotebookCard.className = 'card new-notebook';
                newNotebookCard.innerHTML = `
                    <h2>+</h2>
                    <p>{{resources['create_kdb']}}</p>
                `;
                newNotebookCard.onclick = toCreateKdb;
                container.appendChild(newNotebookCard);
                // 动态生成已有笔记本的卡片
                // 检查 user_info 是否有 info 属性且为数组

                if (Array.isArray(data.user_info)) {
                    notebooks = data.user_info; // 获取 info 数组

                    // 检查 notebooks 数组是否不为空
                    if (notebooks.length > 0) {
                        // 调用函数生成卡片
                        generateCards(false);
                    } else {
                        console.log('没有可用的笔记本数据。'); // 可选：如果没有笔记本，输出日志
                    }
                } else {
                    console.error('user_info.info 不是一个数组，实际值为:', data.user_info);
                }
            } else {
                console.error('数据格式不正确:', data);
            }

        })
        .catch(error => {
            console.error('Error:', error); // 处理错误
        });


        let share_notebooks = []; // 初始化笔记本数组

        // 发送 POST 请求
        fetch(`${window.location.protocol}//${window.location.host}/kdb/get_share_kdb`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // 指定请求体格式为 JSON
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('网络响应错误，状态码: ' + response.status);
            }
            return response.json(); // 解析 JSON 数据
        })
        .then(data => {            
            // 获取 notebooks 数据
            if (data && data.share_info) {

                const container = document.getElementById('share-card-container');
                // 动态生成已有笔记本的卡片
                if (Array.isArray(data.share_info)) {
                    share_notebooks = data.share_info; // 获取 info 数组

                    // 检查 notebooks 数组是否不为空
                    if (share_notebooks.length > 0) {
                        // 调用函数生成卡片
                        generateCards(true);
                    } else {
                        console.log('没有可用的笔记本数据。'); // 可选：如果没有笔记本，输出日志
                    }
                } else {
                    console.error('user_info.info 不是一个数组，实际值为:', data.share_info);
                }
            } else {
                console.error('数据格式不正确:', data);
            }

        })
        .catch(error => {
            console.error('Error:', error); // 处理错误
        });


        // 生成卡片的函数
        function generateCards(if_share) {
            if(if_share){
                if (share_notebooks.length > 0) { // 检查 notebooks 数组是否为空
                share_notebooks.forEach(notebook => {
                    console.log("share：",notebook)
                    if (notebook.kdb_id && notebook.title && notebook.date && notebook.source !== undefined && notebook.share !== undefined) {
                        createShareCard(notebook.user_id, notebook.kdb_id, notebook.title, notebook.date, notebook.source, notebook.share); // 这里用 notebook.source
                    } else {
                        console.warn('笔记本数据格式不正确:', notebook);
                    }
                });
                } else {
                    console.log('没有可用的笔记本数据。'); // 可选：如果没有笔记本，输出日志
                }
            }else{
                if (notebooks.length > 0) { // 检查 notebooks 数组是否为空
                notebooks.forEach(notebook => {
                    if (notebook.kdb_id && notebook.title && notebook.date && notebook.source !== undefined && notebook.share !== undefined) {
                        createCard(notebook.kdb_id, notebook.title, notebook.date, notebook.source, notebook.share); // 这里用 notebook.source
                    } else {
                        console.warn('笔记本数据格式不正确:', notebook);
                    }
                });
                } else {
                    console.log('没有可用的笔记本数据。'); // 可选：如果没有笔记本，输出日志
                }
            }

        }

        // 打开创建知识库页面
        function toCreateKdb() {
            // 获得日期
            const currentDate = new Date();
            const year = currentDate.getFullYear();
            const month = String(currentDate.getMonth() + 1).padStart(2, '0'); // 月份从0开始，+1
            const day = String(currentDate.getDate()).padStart(2, '0');
            const hours = String(currentDate.getHours()).padStart(2, '0');
            const minutes = String(currentDate.getMinutes()).padStart(2, '0');
            const seconds = String(currentDate.getSeconds()).padStart(2, '0');

            // 构建标准格式的日期字符串
            let formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            
            // 新增kdb
            fetch(`${window.location.protocol}//${window.location.host}/kdb/addNewkdb`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ kdb_date: formattedDate }), // 将 kdb_date 作为 JSON 发送
            })
            .then(response => {
                console.log('Response status:', response.status); // 输出响应状态码
                if (!response.ok) {
                    throw new Error('网络响应错误，状态码: ' + response.status);
                }
                return response.json(); // 解析 JSON 数据
            })
            .then(data => {
                // 使用返回的数据
                if (data.success) {
                    const kdbId = data.kdb_id; // 获取 kdb_id

                    // 进行重定向
                    const url = `${window.location.protocol}//${window.location.host}/kdb/toCreateNewkdb?kdb_id=${encodeURIComponent(kdbId)}`;
                    window.location.href = url;

                } else {
                    console.error('请求未成功:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error); // 处理错误
            });
        }

        // 显示自定义确认弹窗
        function customConfirm(message, callback) {
            const confirmBox = document.getElementById("customConfirm");
            const confirmMessage = document.getElementById("customConfirmMessage");
            const confirmYes = document.getElementById("confirmYes");
            const confirmNo = document.getElementById("confirmNo");

            confirmMessage.textContent = message;
            confirmBox.style.display = "flex";

            // 确认按钮
            confirmYes.onclick = () => {
                callback(true); // 用户点击 "Yes"
                confirmBox.style.display = "none"; // 隐藏弹窗
            };

            // 取消按钮
            confirmNo.onclick = () => {
                callback(false); // 用户点击 "No"
                confirmBox.style.display = "none"; // 隐藏弹窗
            };
        }

        function createCard(kdb_id, title, date, sources, share) {
            const container = document.getElementById('card-container');
            const card = document.createElement('div');
            card.className = 'card';
            
            // Create the delete button
            const deleteButton = document.createElement('button');
            deleteButton.innerHTML = '×'; // Cross symbol for the button
            deleteButton.className = 'delete-btn';
            deleteButton.style.position = 'absolute';
            deleteButton.style.top = '10px';
            deleteButton.style.right = '10px';
            deleteButton.onclick = function(event) {
                event.stopPropagation(); // Prevents the card click event from triggering
                customConfirm("{{resources['delete_kdb']}}", (confirmed) => {
                    if (confirmed) {
                        deleteKnowledgebase(kdb_id);  // 执行删除操作
                    } 
                });
            };

            let text = ""
            if(share){
                text = "{{resources['share_kdb']}}"
            }else{
                text = "{{resources['unshare_kdb']}}"
            }
            // Add content to the card
            card.innerHTML = `
                <h2>${title}</h2>
                <p>${date} · ${sources} ${"{{resources['source']}}"}</p>
                <p>${text}</p>
            `;
            
            // Append delete button to the card
            card.style.position = 'relative'; // Needed to position delete button inside the card
            card.appendChild(deleteButton);
            
            // Handle card click
            card.onclick = function() {
                toKnowledgebase(false, kdb_id, title, share);
            };
            
            container.appendChild(card);
        }


        // 动态创建卡片函数
        function createShareCard(user_id, kdb_id, title, date, sources, share) {
            const container = document.getElementById('share-card-container');
            const card = document.createElement('div');
            card.className = 'card';
            let text = ""
            if(share){
                text = "{{resources['share_kdb']}}"
            }else{
                text = "{{resources['unshare_kdb']}}"
            }
            card.innerHTML = `
                <h2>${title}</h2>
                <p>{{resources['from_user']}}： ${user_id}</p>
                <p>${date} · ${sources} ${"{{resources['source']}}"}</p>
                <p>${text}</p>
            `;
            card.onclick = function() {
                toKnowledgebase(true, kdb_id, title, share);
            };
            container.appendChild(card);
        }


        function deleteKnowledgebase(kdb_id) {
            // 删除知识库
             // 修改share的值
            fetch(`${window.location.protocol}//${window.location.host}/kdb/delete_kdb`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' // 指定请求体格式为 JSON
                },
                body: JSON.stringify({ kdb_id: kdb_id})
            })
            .then(response => {
            console.log('Response status:', response.status); // 输出响应状态码
            if (!response.ok) {
                throw new Error('网络响应错误，状态码: ' + response.status);
            }
            return response.json(); // 解析 JSON 数据
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error); // 处理错误
            });
        }

        // 打开已有笔记本的展示界面
        function toKnowledgebase(if_from_share, kdb_id, kdb_title, share) {
            let url = ""
            if(if_from_share){
                url = `${window.location.protocol}//${window.location.host}/kdb/toKnowledgeBase?kdb_id=${encodeURIComponent(kdb_id)}&title=${encodeURIComponent(kdb_title)}&share_type=${encodeURIComponent(share)}&is_from_share=${encodeURIComponent(if_from_share)}`;
            }else{
                // 记录信息
                url = `${window.location.protocol}//${window.location.host}/kdb/toKnowledgeBase?kdb_id=${encodeURIComponent(kdb_id)}&title=${encodeURIComponent(kdb_title)}&share_type=${encodeURIComponent(share)}&is_from_share=${encodeURIComponent(if_from_share)}`;
            }
            window.location.href = url;
        }

        const backButtons = document.getElementById("back_origin")

        backButtons.addEventListener("click", function(){
            // 进行重定向
            const url = `${window.location.protocol}//${window.location.host}/`;
            window.location.href = url;
        });
        

        let availableFiles = [];
        let selectedFiles = new Set();

        // 打开文件选择浮窗
        function openFileSelectionModal() {
            const modal = document.getElementById('file_selection_modal');
            modal.style.display = 'flex';

            fetch(`${window.location.protocol}//${window.location.host}/kdb/get_kdb`, {
                method: 'POST',
                credentials: 'include', // 发送 cookie
                headers: {
                    'Content-Type': 'application/json' // 设置请求体的内容类型为 JSON
                }
            })
            .then(response => response.json())
            .then(files => {
                console.log("kdbs的信息：",files.user_info)
                availableFiles = files.user_info
                renderFileList()
            })
            
        }

        // 关闭文件选择浮窗
        function closeFileSelectionModal() {
            const modal = document.getElementById('file_selection_modal');
            modal.style.display = 'none';
        }

        // 渲染文件列表
        function renderFileList() {
            const fileListDiv = document.getElementById('file_list');
            fileListDiv.innerHTML = ''; // 清空列表内容

            availableFiles.forEach((infos) => {
                const fileItem = document.createElement('div');
                fileItem.className = 'choice-file-item';
                fileItem.textContent = infos.title;

                // 如果文件已在已选列表中，标记为已选
                if (selectedFiles.has(infos.kdb_id)) {
                    fileItem.classList.add('selected');
                }

                // 点击选择文件
                fileItem.onclick = () => {
                    if (selectedFiles.has(infos.kdb_id)) {
                        // 如果已经选中，取消选择
                        selectedFiles.delete(infos.kdb_id);
                        fileItem.classList.remove('selected');
                    } else {
                        // 如果未选中，添加到选择文件列表
                        selectedFiles.add(infos.kdb_id);
                        fileItem.classList.add('selected');
                    }
                };

                fileListDiv.appendChild(fileItem);
            });
        }

        // 确认文件选择
        function confirmFileSelection() {
            const selectedFileList = Array.from(selectedFiles);

            if (selectedFileList.length === 0) {
                alert("{{resources['de_er']}}");
                return;
            }

            console.log("选取的kdb:",selectedFileList)

            // 准备发送的JSON数据
            const data = {
                kdb_id_list: selectedFileList
            };

            // 发送删除的请求
            fetch(`${window.location.protocol}//${window.location.host}/kdb/delete_muilt_kdb`, {
                    method: 'POST',
                    credentials: 'include', // 发送 cookie
                    headers: {
                        'Content-Type': 'application/json' // 设置请求体的内容类型为 JSON
                    },
                    body: JSON.stringify(data),
                })
                .then(response => response.json())
                .then(files => {
                    console.log("kdbs的信息：",files.user_info)
                    // 隐藏文件选择浮窗
                    closeFileSelectionModal();
                    // 刷新页面
                    location.reload();
                })
        }

        // 清除全部选择的文件
        function clearAllSelectedFiles() {
                selectedFiles.clear(); // 清空选择的文件列表
                const targetClassName = 'selected';

                // 获取所有具有目标类名的元素
                const elementsWithClass = document.querySelectorAll(`.${targetClassName}`);

                // 遍历并移除每个元素的目标类名
                elementsWithClass.forEach(element => {
                    element.classList.remove(targetClassName);
                });

                // 清除所有class
                console.log("已清除全部选择的文件");
            }
    </script>

</body>
</html>
