{% extends "sidebar.html" %}
{% block content %}

<div id="right_bar" style="display:flex; flex-direction: column; width:100%">
<script src="/static/js/scripts.js"></script>

{% include 'menubar.html' %}
{% include 'userbutton.html' %}
    <link rel="stylesheet" href="/static/css/input_box.css">
    <style>

        .main-container {
            display: flex;
            justify-content: center;
            height: 100vh;
            width:100%;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .input-container {
            width: 700px;               /* 设置容器宽度 */
            text-align: center;       /* 水平居中内联元素 */
            padding-top: 270px; /* 设置为高度的 18% */
        }


        .input-container h1 {
            font-size: 32px;
            margin-bottom: 30px;
        }
</style>
<script>
    function fill_text(text){
        let input = document.getElementById('userInput');
        input.textContent = text;
        document.getElementById('sendButton').click()
    }

    const resources = {{ resources | tojson }};
</script>

<link rel="stylesheet" href="/static/css/input_box.css">
    <div class="main-container">
        <div class="input-container">
            <h1>{{resources['greeting']}}</h1>
            <div class="input-box">
                <!-- 文件上传功能 -->
                <div id="filediv" class="fileshowdiv"></div>
                <p id="userInput" contenteditable="true" data-placeholder="{{resources['send_to_ai']}}" style="padding-top:5px; margin-bottom: 10px;"></p>
                <div class="button-div" style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 5px;">
                    <!-- uploadfile 靠左 -->
                    <button id="uploadfile" class="upload-file-btn" style="margin-left: 10px;">
                        <svg class="upload-icon" t="1735871099935" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4280" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                            <path d="M1024 645.248v330.752a48 48 0 0 1-48 48H48a48 48 0 0 1-48-48v-330.752a48 48 0 0 1 96 0V928h832v-282.752a48 48 0 0 1 96 0zM246.912 381.76L464.768 163.84v593.472a48 48 0 0 0 96 0V163.904l217.856 217.92a48 48 0 1 0 67.904-67.904L546.752 14.08a47.936 47.936 0 0 0-67.904 0L179.072 313.856a48 48 0 0 0 67.84 67.904z"></path>
                        </svg>
                    </button>
                    <input type="file" id="fileInput" style="display:none;" multiple />
                    <!-- right-buttons 靠右 -->
                    <div class="right-buttons" style="margin-right: 10px;">
                        <!-- 发送按钮 -->
                        <button id="sendButton" type="submit">
                            <svg t="1733282301774" class="send-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                                <path d="M535.06048 895.0784m-40.96 0l0 0q-40.96 0-40.96-40.96l0-573.44q0-40.96 40.96-40.96l0 0q40.96 0 40.96 40.96l0 573.44q0 40.96-40.96 40.96Z"></path>
                                <path d="M493.03552 242.21696L289.792 445.44a40.96 40.96 0 1 1-57.93792-57.93792L463.58528 155.81184a40.96 40.96 0 0 1 58.44992-0.45056l231.69024 231.69024a40.96 40.96 0 1 1-57.91744 57.93792l-202.77248-202.77248z"></path>
                            </svg>
                        </button>
                        <!-- 录音按钮 -->
                        <button id="recordButton" onmousedown="this.classList.add('recording');startRecording()" onmouseup="this.classList.remove('recording');stopRecording(fill_text)">
                            <svg t="1733475459563" class="record-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                                <path d="M486.4 972.8v-128.9728A332.8 332.8 0 0 1 179.2 512a25.6 25.6 0 0 1 51.2 0 281.6 281.6 0 0 0 563.2 0 25.6 25.6 0 1 1 51.2 0 332.8 332.8 0 0 1-307.2 331.8272V972.8h153.6a25.6 25.6 0 1 1 0 51.2h-358.4a25.6 25.6 0 1 1 0-51.2h153.6zM512 51.2a153.6 153.6 0 0 0-153.6 153.6v307.2a153.6 153.6 0 0 0 307.2 0V204.8a153.6 153.6 0 0 0-153.6-153.6z m0-51.2a204.8 204.8 0 0 1 204.8 204.8v307.2a204.8 204.8 0 1 1-409.6 0V204.8a204.8 204.8 0 0 1 204.8-204.8z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 弹窗容器 -->
    <div id="popup" class="top-popup">
        <span id="popup-message">这是一个错误信息！</span>
        <button class="popup-close-btn" onclick="closePopup()">
            <svg class="popup-close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <line x1="4" y1="4" x2="20" y2="20" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                <line x1="20" y1="4" x2="4" y2="20" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
        </button>
    </div>

    <script>
        // 获取当前 URL 的路径部分
        let path = window.location.pathname;

        // 提取 ID，检查路径是否符合预期
        let session_id = path.split('/')[2] || null;  // 如果没有找到 ID，则返回 null

        var permissions = {{ permissions | tojson }};
    </script>
    <script>
        if (!permissions.includes("uploadfile")) {
            const uploadFileBtn = document.getElementById("uploadfile")
            uploadFileBtn.classList.add('disabled');
            uploadFileBtn.disabled = true;
        }

        if (!permissions.includes("index")) {
            console.log("没有index权限")
            const sendButton = document.getElementById("sendButton")
            sendButton.disabled = true;

            const recordButton = document.getElementById("recordButton")
            recordButton.disabled = true;

            const menu_container = document.getElementById("menu_container")
            menu_container.style.display = "none";
        }

        document.getElementById('uploadfile').addEventListener('click', function(event) {
            event.preventDefault();  // 防止其他默认行为（如果有的话）
            checkToken();
            // 获取session_id,如果没有的情况下
            if(!session_id){
                // 获取session_id
                const data = {
                    create_session_id: true,
                };

                // 使用 fetch API 提交数据到服务器
                fetch(`${window.location.protocol}//${window.location.host}/conversation`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then((response) => response.json())
                .then((data) => {
                    session_id = data.session_id
                })
                .catch((error) => {
                    console.error('错误:', error);
                });
            }

            // 获取隐藏的文件输入框
            const fileInput = document.getElementById('fileInput');
            // 触发文件输入框的点击事件
            fileInput.click();
        });
    </script>
    <script src="/static/js/file_info.js"></script>
    <script src="/static/js/upload_file.js"></script>
    <script src="/static/js/input_text.js"></script>

    <script>
        var mode="{{mode}}";
        var kdb_id = "{{kdb_id}}";
        var prompt_name = "{{prompt_name}}";
        function set_mode(modeIn){
            mode = modeIn;
            console.log("设置了mode",mode)
            const uploadFileBtn = document.getElementById("uploadfile")
            if(mode === "faq" || mode === "graphrag"){
                uploadFileBtn.classList.add('disabled');
                uploadFileBtn.disabled = true;
            }else{
                uploadFileBtn.classList.remove('disabled');
                uploadFileBtn.disabled = false;
            }
        }
        function set_kdb_id(kdb_idIn){
            kdb_id = kdb_idIn;
        }
        function set_prompt_name(prompt_nameIn){
            prompt_name = prompt_nameIn;
        }

        document.getElementById('sendButton').addEventListener('click', function () {
            const userInputElement = document.getElementById('userInput');
            const userInput = userInputElement.textContent.trim(); // 获取 <p> 的文本内容并去掉前后空格

            // 判断是否有输入
            if (!userInput) {
                console.log("没有输入");
                return;
            }

            // 判断是否有文件正在分析中
            // 获取所有具有 'file-overlay' 类的元素
            const elements = document.querySelectorAll('.file-overlay');

            // 过滤出 style.display 为 'none' 的元素
            const countNotNone = Array.from(elements).filter(element => element.style.display !== 'none').length;

            if (countNotNone !== 0) {
                showPopup(resources.analyzing_file)
                return;
            }

            const fileDivs = document.querySelectorAll('.file-display');
            const fileDetails = Array.from(fileDivs).map(fileDiv => {
                const fileId = fileDiv.getAttribute('data-file-id'); // 获取 data-file-id
                const fileName = fileDiv.querySelector('.file-name').id;
                const fileType = fileDiv.querySelector('.file-type').id;
                const fileSize = fileDiv.querySelector('.file-type').dataset.size;
                return { file_id: fileId, filename: fileName, filetype: fileType, filesize: fileSize};
            });
            console.log("文件的信息",fileDetails)

            // 准备发送的 JSON 数据
            const data = {
                message: userInput,
                session_id: session_id,
                files: fileDetails
            };

            // 使用 fetch API 提交数据到服务器
            fetch(`${window.location.protocol}//${window.location.host}/conversation`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then((response) => response.json())
            .then((data) => {
                seenFiles = new Set();
                window.location.href = `${window.location.protocol}//${window.location.host}/chatbox/${data.session_id}?mode=${mode}&kdb_id=${kdb_id}&prompt_name=${prompt_name}`;
            })
            .catch((error) => {
                console.error('错误:', error);
                showPopup(resources.send_error)
            });
        });
    </script>
    
{% endblock %}
</div>
