{% extends "shared/base.html" %}

{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h5 class="display-5" style="text-align: center;">{{resources['title']}}</h5>
      <div class="text-danger font-weight-bold">
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
      </div>

      <div class="text-success font-weight-bold">
        {% if msg %}
        <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
          {{msg}}
        </div>
        {% endif %}
        {% if error_message %}
          <div  id="error-message" class="alert alert-danger">
            {{ error_message }}
          </div>
        {% endif %}
      </div>
    </div>


    <div class="row my-5">
      <div class="layui-form layui-form-pane">
        <div class="mb-3">      
          <label>{{resources['email']}}</label>
          <input id="email" type="text" required placeholder="{{resources['email_']}}" name="email" value="{{email}}" class="form-control">
        </div>

        <div class="mb-3">
          <label>{{resources['password']}}</label>
          <input id="password" type="password" required placeholder="{{resources['password_']}}" value="{{password}}" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary" onclick="checkLogin()">{{resources['login']}} </button>

        <button id="register-button" onclick="clearInputAndRedirect()"  class="btn btn-secondary">{{resources['register']}}</button>
        <a href="/reset_password" class="text-primary small">{{resources['reset_password']}}？</a>
      </div>
    </div>
  </div>
<script>
  function checkLogin() {
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      if(!(email && password)){
        alert("{{resources['ep_none']}}")
        return
      }

      // 使用 fetch API 提交数据到服务器
      fetch(`${window.location.protocol}//${window.location.host}/login`, {
          method: 'POST',
          credentials: 'include', // 发送 cookie
          headers: {
              'Content-Type': 'application/json' // 设置请求体的内容类型为 JSON
          },
          body: JSON.stringify({email: email, password: password})
      })
      .then(response => response.json())
      .then(data => {
          // 登录成功后，手动重定向到目标页面
          if (data.success) {
              window.location.href = "/"; // 重定向到主页或其他页面
          }else{
            alert("{{resources['login_fail']}}");
          }
      })
      .catch(error => {
          // 登录失败，提示错误
          alert("{{resources['login_fail']}}");
          console.error('Error:', error);
      });
    }

    function clearInputAndRedirect() {
      document.querySelector('input[name="email"]').value = '';
      document.querySelector('input[name="password"]').value = '';
      window.location.href = '/register';
    }
    
  {% if error_message %}
      setTimeout(function() {
        var errorMessage = document.getElementById("error-message");
        if (errorMessage) {
          errorMessage.style.display = "none";  // 隐藏错误消息
        }
      }, 5000);  // 5秒后隐藏错误消息
    {% endif %}
</script>
  {% endblock %}